<h1 class="specialHead">Articles</h1>

<div class="paddingDiv"></div>
<div class="articleDiv">
  <table class="articleTable">
    <tr>
      <th>Topic</th>
      <th>Number of Posts</th>
      <th>Most Recent Contributor</th>
      <th>Most Recent Post</th>
    </tr>
    <tr>
      <td>Eggplant</td>
      <td>17</td>
      <td>Mike Homolak</td>
      <td>April 11th, 2016 4:20pm</td>
    </tr>
    <tr>
      <td>Are Peaches Better Than Eggplant?</td>
      <td>5</td>
      <td>James Freeman</td>
      <td>April 11th, 2016 11:45 am</td>
    </tr>
    <tr>
      <td>The Great Corn vs Banana Debate</td>
      <td>12</td>
      <td>Tony Simpson</td>
      <td>April 12th, 2016 4:15 pm</td>
    </tr>
    <tr>
      <td>#Hairflip</td>
      <td>1</td>
      <td>Courtney Morrissey</td>
      <td>April 11th, 2016 3:45 pm</td>
    </tr>
  </table>
</div>
