<h1 class="specialHead">Dashboard</h1>

<form class="" action="index.html" method="post">
  <table class="dashTable">
    <tr>

    </tr>

    <input type="button" name="name" value="Edit Your Profile" class="editButton">
  </table>
</form>
