<!DOCTYPE html>
<html>


<head>
  <title>{{title}}</title>
  <!-- Latest compiled and minified CSS -->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script src='/javascripts/global.js'></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body class="container-fluid">
  <div class="navbar navbar-fixed-top bg-primary">
    <div class="container">
      <div class="headPad"></div>

      <ul class="navList">
        <li><h1 class="logo">Slack Overflow</h1></li>
        <li><a href="/users/profile/1">My Profile</a></li>
        <li><a href="/users/tags">Tags</a></li>
        <li><a href="/login">Log In</a></li>
      </ul>
      <div class="headPad"></div>
    </div>
  </div>
  <!-- <div class="navbar navbar-left bg-info sideBar">
    {{#articles}}
        <h2>{{this.name}}</h2>
          </br>
        {{this.title}}
    {{/articles}}
  </div> -->


  {{{body}}}


</body>


</html>
