<h1 class="specialHead">Akyuna Akish</h1>


  <img src="{{profilePic}}" alt="" class="profPic"/>

<table class="profileTable">
  <tr>
    <th>
      Username:
    </td>
    <td>
      AK47
    </td>
  </tr>
  <tr>
    <th>
      Organization:
    </td>
    <td>
      g20
    </td>
  </tr>
  <tr>
    <th>
      Location:
    </td>
    <td>
      Boulder, CO
    </td>
  </tr>
  <tr>
    <th>
      Interests:
    </td>
    <td>
      Coding, being helpful, SASS, JavaScript, CodeWars, Warmups
    </td>
  </tr>
  <tr>
    <th>
      GitHub Profile:
    </td>
    <td>
      <a href="https://github.com/AkyunaAkish" target="_blank">https://github.com/AkyunaAkish</a>
    </td>
  </tr>
</table>
