<div class="paddingDiv"></div>
<h1 class="specialHead">Akyuna Akish</h1>


  <img src="{{profilePic}}" alt="" class="profPic"/>

<div class="profileDiv">
<table class="profileTable">
  <tr>
    <th>
      Username:
    </td>
    <td>
      AK47
    </td>
  </tr>
  <tr>
    <th>
      Organization:
    </td>
    <td>
      g20
    </td>
  </tr>
  <tr>
    <th>
      Location:
    </td>
    <td>
      Boulder, CO
    </td>
  </tr>
  <tr>
    <th>
      Superpower:
    </td>
    <td>
      Being helpful
    </td>
  </tr>
  <tr>
    <th>
      GitHub Profile:
    </td>
    <td>
      <a href="https://github.com/AkyunaAkish" target="_blank">https://github.com/AkyunaAkish</a>
    </td>
  </tr>
</table>

<div class="buttonDiv">
  <input type="button" name="name" value="Edit Your Profile" class="editButton">
</div>

</div>
