<div class="paddingDiv"></div>
<h1 class="specialHead">Tags</h1>
<div class="paddingDiv"></div>

<div class="tagDiv">

  <ul class="tagList">

    {{#each tags}}
      <li> <a href="/articles/tagged/{{id}}">{{name}}</a> </li>
    {{/each}}

  </ul>

</div>
