<h1 class="specialHead">Threads</h1>

<div class="paddingDiv"></div>
<div class="articleDiv">
  <table class="articleTable">
    <tr>
      <th>Thread</th>
      <th>Number of Replies</th>
      <th>Most Recent Contributor</th>
      <th>Most Recent Post</th>
    </tr>
    <tr>
      <td>Full Eggplant Friday</td>
      <td>2</td>
      <td>Mike Homolak</td>
      <td>April 11th, 2016 4:20pm</td>
    </tr>
    <tr>
      <td>WHO IS THE EGGPLANT BOT??!!</td>
      <td>0</td>
      <td>Fabio</td>
      <td>April 11th, 2016 11:45 am</td>
    </tr>
    <tr>
      <td>Spicy Eggplant</td>
      <td>1</td>
      <td>Mike Homolak</td>
      <td>April 12th, 2016 4:15 pm</td>
    </tr>
    <tr>
      <td>#eggplantfordinner</td>
      <td>1</td>
      <td>Mike Homolak</td>
      <td>April 11th, 2016 3:45 pm</td>
    </tr>
  </table>
</div>
