<div class="paddingDiv"></div>
<h1 class="specialHead">Viewing thread: '{{thread_title}}'</h1>

<div class="paddingDiv"></div>
<div class="articleDiv">
  <table class="articleTable">
    <tr>
      <th>User</th>
      <th>Body</th>
      <th>Date</th>
    </tr>
    {{#data}}
    <tr>
      <td><a href='/users/profile/{{user_id}}'>{{name}}</a></td>
      <td>{{body}}</td>
      <td>date-placeholder</td>
    </tr>
    {{/data}}
  </table>
</div>
