
<div class="containerDiv">


<h1 class="specialHead">Votes(idkfn):</h1>

    <div class="votesDiv">
        {{#replies}}
        {{this}}
        </br>
        {{this.reply_id}}
        </br>
        </br>
        {{/replies}}
    </div>
</div>
