body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*overflow: scroll;*/
}

a {
  color: #00B7FF;
}

.navList{
  list-style: none;
  color: white;
  margin-right: -50%;
}

.navList li{
  display: inline;
  font-size: 20px;
}

.navList li a {
  font-family: 'Patua One', cursive;
  color: white;
  text-decoration: none;
  margin-left: 1%;
}

.navList li a:hover {
  text-decoration: none;
  font-size: 25px;
}


.logo {
  display: inline;
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 60px;
  margin-left: -8%;
  margin-right: 30%;
}

.logo a, a:hover, a:active, a:visited, a:link {
  text-decoration: none;
}

.navList a, a:hover, a:active, a:visited, a:link{
  text-decoration: none;
}

.sideBar {
  min-height: 100%;
  position: fixed;
  float: left;
  width: 15%;
  margin-top: 40px;
  margin-left: -15px;
  margin-right: 100px;
  padding-left: 15px;
  padding-top: 60px;
  overflow: scroll;
}

.sideBar h2 {
  font-size: 18px;
  font-family: 'Patua One', cursive;
  color: #595959;
}

.navBox {
  font-size: 16px;
  text-align: center;
  font-family: 'Patua One', cursive;
  color: white;
  background-color: #808080;
  opacity: .8;
  border-radius: 15px;
  padding: 5px;
  width: 80%;
  margin-bottom: 50px;
}

.headPad {
  height: 20px;
}

.specialHead {
  font-family: 'Patua One', cursive;
  text-align: center;
  font-size: 60px;
  color: black;
  margin-top: 70px;
}

.specialHead2 {
  font-family: 'Patua One', cursive;
  text-align: center;
  font-size: 60px;
  color: black;
  margin-top: -20px;
}

.indentHead{
  margin-left: 20%;
}

.containerDiv {
  margin: 0 auto;
  margin-left: 20%;
  position: relative;
  width: 75%;
  padding: 20px;
}

button {
  background-color: #a6a6a6;
}

.editButton{
  text-align: center;
  font-size: 15px;
  color: black;
  margin-top: 10px;
}

.profPic {
  width:300px;
  height: 300px;
  border: solid black 2px;
  padding: 5px;
  margin-left:100px;
  float: left;
  margin-top: 50px;
}

.smallProfPic {
  width:250px;
  height: 250px;
  border: solid black 2px;
  padding: 5px;
}

.profileContainer{
  margin-left: 200px;
}

.profileDiv{
  margin: 0 auto;
  position: relative;
  width: 500px;
  background-color: #f2f2f2;
  border: 1px solid #999999;
  margin-left: 500px;
  margin-top: 75px;
}

.profileTable{
  width: 500px;
}

      .profileTable tr th {
        border: 1px solid lightgray;
        padding: 10px;
      }
      .profileTable tr td {
        border: 1px solid lightgray;
        padding: 10px;
      }

.dashTable {
  text-align: center;
  width: 400px;
  border-radius: 25px;
}

.buttonRow {
  text-align: center;
  border: 1px solid #999999;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dashTable {
  width: 500px;
}

.dashTable tr th {
  text-align: center;
  border: 1px solid #999999;
  width: 150px;
}

.dashTable tr td {
  text-align: center;
  border: 1px solid #999999;
  padding: 10px;
}

.dashDiv {
  margin: 0 auto;
  position: relative;
  width: 500px;
  background-color: #f2f2f2;
  border: 1px solid #999999;
}
.uploadPic {
  margin-top: 5px;
}

.buttonDiv {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.interests {
  height: 100px;
}

textarea {
  width: 250px;
}

.paddingDiv {
  height: 60px;
}

input[type="button"] {
  background-color: #b3b3b3;
}

.articleHead {
  font-family: 'Patua One', cursive;
  text-align: center;
  /*color: #808080;*/
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: -80px;
}

.articleHome{
  padding: 60px;
  margin-top: 7%;
  margin-left: 5%;
  font-size: 20px;
  background-color: #e6e6e6;
  border-radius: 25px;
  width: 90%;
}

.articleDiv {
  margin: 0 auto;
  margin-left: 20%;
  position: relative;
  width: 75%;
  padding: 20px;
}

.articleTable {
  width: 100%;
}

.articleTable tr th {
  text-align: center;
  border: 1px solid #999999;
  width: 150px;
}

.articleTable tr td {
  text-align: center;
  border: 1px solid #999999;
  padding: 10px;
}

.tagDiv {
  margin: 0 auto;
  position: relative;
  text-align: left;
  padding: 5px;
}

.tagList {
  list-style-type: none;
}

.tagList li {
  background-color: rgba(110,160,200,.7);
  border: 1px solid dodgerblue;
  color: white;
  float: left;
  padding: 6px;
  width: 14%;
  margin: 5px;
  text-align: center;
  border-radius: 15px;
  font-family: pacifico;
  text-shadow: 2px 2px black;
  font-size: 25px;
}
.ok > img{
  width: 3em;
  height: 2em;
  border-radius: 15px;
}
.showhim a {
  color:white;
  text-decoration: none;
}
.showhim a:hover {
  color:silver;
  text-decoration: none;
}
.showme{
display: none;
}
.showhim:hover .showme{
display : block;
}
.showhim:hover .ok{
display : none;
}
.table {
  text-align: center;
  border: 1px solid black;
}

.heads {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(0,30,100,.5);
}

.superpowerDiv {
  padding-top: 30px;
  margin-top: 7%;
  margin-left: 15%;
  font-size: 20px;
  background-color: #e6e6e6;
  border-radius: 25px;
  width: 70%;
}

.powersTable  {
  margin-left: 10%;
  width: 100%;
}

.powersTable td {
  padding: 7px;
  width: 65%;
  padding-left: 30px;
}

.votesDiv{
  margin-top: 7%;
  margin-left: 5%;
  font-size: 20px;
}

.bodyText {
  height: 500px;
}
